// ====================================================
//   Depth
// ====================================================

for i in 0..10
  .depth-{i}
    if i == 0
      z-index -1
    else
      z-index i*100
