//====================================================
//  Grid Componets
//====================================================

.column
  display flex
  flex 1 1 auto
  flex-direction column
  flex-wrap nowrap
  height auto
  +below('s')
    min-width 100%

.row
  display flex
  flex 1 1 auto
  flex-direction row
  flex-wrap wrap
  height auto
  > .column
    +below('s')
      width 100% !important

//====================================================
//  Gutters
//====================================================

multiply(a,b)
  a*b

// Add .gutters to .row/.column elements
.gutters
  padding padding-base

  // All direct descendants of .gutters get margin
  > .column,
  > .row
    margin margin-base
    +below('s')
      width 100% !important
      min-width 0

  for i in 0..20
    .w{i*5}
      by5 = multiply(i, 5)
      pandm = padding-base + margin-base
      width "calc(%s% - %s)" % (by5 pandm)
