// generic site
.alpha-badge
  margin-left 5px

.fs-small
  font-size small

.section-padding
  padding 5rem

.section-header
  border-bottom 3px solid rgba(0,0,0,0.1)
  color #F18260
  padding-bottom 1rem
  margin-bottom 3rem

// typography
.two-columns
  +above('s')
    -webkit-column-count 2
    -moz-column-count 2
    column-count 2

// whitespace
.p2.box-color
  box-shadow inset 0 0 0 2rem #C4DDB8

.ptb3.box-color
  box-shadow inset 0 -3rem #C4DDB8, inset 0 3rem #C4DDB8

.box-color
  background-color #A1C5E7
  box-shadow inset 0 0 0 1rem #C4DDB8

.margin-color
  background-color #F9CD9D

// syntax
.bg-paleblue
  background-color #BDDCDC
.bg-blue
  background-color #92BFBF
.bg-slate
  background-color #5F777E
.bg-palegreen
  background-color #D0EDA7
.bg-green
  background-color #B4D388
.bg-darkgreen
  background-color #809161
.bg-paleyellow
  background-color #F5F5AE
.bg-yellow
  background-color #EDE480
.bg-orange
  background-color #F49D62
.bg-red
  background-color #CF5340
.bg-darkred
  background-color #893121
.bg-maroon
  background-color #55201B
